<div class="container mt-5">
    <h1>Mise à jour d'utilisateur</h1>
    <div class="row ">
        <div class="col-lg-6 mx-auto  ">

            <input  type="text" placeholder="name" class="form-control m-2">
            <input  type="text" placeholder="email" class="form-control m-2">
            <input  type="text" placeholder="tel" class="form-control m-2">
            <input  type="text" placeholder="adresse" class="form-control m-2">
            <input  type="file" placeholder="image" class="form-control m-2">

            <select  class="form-select m-2">
                <option >dghghd</option>
            
            </select>

            <button  class="btn btn-dark m-2 form-control"> save</button>
        </div>
    </div>
</div>